{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="phone" placeholder="Phone">
    <textarea name="content" placeholder="Message"></textarea>
    <button type="submit">Send</button>
</form>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endblock %} 